.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



body{
  max-width: 1200px;
  width: 100%;
  display: flex;
  background-color: #282c34; 

}

.moviebox{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  margin-left: -15px;
  align-items: flex-end;
  gap: 15rem;
  list-style: none;
  color: aliceblue;
}



.color{
  color: aliceblue;
  
}

.color-2{
  color: aliceblue;
  text-align: center;
}

.search{
  text-align: center;
}

.input{
  height: 20px;
}

.space{
  height: 26px;
}

.box{
  border: 3px solid grey;
}

.button{
  height: 30px;
  width: 125px;
  background-color: green;
}

.navbar{
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
